@import '../variable.scss';

/** 定义变量 */

/** 工具栏样式 */
$toolbarBg: $toolbarBgLight;
$toolbarBtnColor: $toolbarBtnColorLight;
$toolbarBtnBgHover: $toolbarBtnBgHoverLight;
$toolbarBtnHoverColor: $toolbarBtnHoverColorLight;
$sidebarShadow: $shadow;
/** 编辑区域样式 */
$editorBg: #FFF;
$editorSelectedBg: $toolbarBtnBgHover;
/** 预览区域样式 */
$previewBg: #FFF;

/** 编辑器样式 */
.cherry.theme__light {
  
  /** 顶部按钮, 选中文字时弹出的按钮, 光标focus到空行时联想出的按钮, 侧边栏按钮 */
  .cherry-toolbar, .cherry-floatmenu, .cherry-bubble, .cherry-sidebar {
    background: $toolbarBg;
    border-color: $toolbarBg;
    .cherry-toolbar-button {
      color: $toolbarBtnColor;
      &:hover {
        background-color: $toolbarBtnBgHover;
        color: $toolbarBtnHoverColor;
        border-color: $toolbarBg;
      }
    }
  }

  /** 二级菜单 */
  .cherry-dropdown {
    background: $toolbarBg;
    .cherry-dropdown-item {
      color: $toolbarBtnColor;
      &:hover {
        background-color: $toolbarBtnBgHover;
        color: $toolbarBtnHoverColor;
      }
    }
    /** 选择颜色的按钮 */
    &.cherry-color-wrap {
      /** 色盘的标题 */
      h3 {
        color: $toolbarBtnColor;
      }
      /** 色盘里的每一个色块 */
      .cherry-color-item {
        width: 15px;
        border: none;
      }
    }
  }

  /** 选中文字时弹出的按钮 */
  .cherry-bubble {
    .cherry-bubble-bottom {
      border-top-color: $toolbarBg;
    }
    /** 粘贴HTML内容时弹出的选择按钮 */
    &.cherry-switch-paste {
      
    }
  }

  .cherry-editor {
    background-color: $editorBg;
    .CodeMirror {
      background-color: $editorBg;
      .CodeMirror-selected {
        background-color: $editorSelectedBg;
      }
    }
  }

  .cherry-sidebar {
    box-shadow: $sidebarShadow;
  }

  .cherry-previewer {
    background-color: $previewBg;
  }

}
/** 预览区域样式 */
.cherry-markdown.theme__light {

  p, div {
  
  }
  
  h1 {
    
  }
  
  h2 {
    
  }
  
  h3 {
    
  }

  h4 {

  }

  h5 {

  }

  h1, h2, h3, h4, h5, h6 {
    /** 标题前面的锚点或序号 */
    .anchor {

    }
  }
  
  ul {
    &.cherry-list__upper-roman {
      list-style: upper-roman;
    }
  
    &.cherry-list__lower-greek {
      list-style: lower-greek;
    }
  
    &.cherry-list__cjk-ideographic {
      list-style: cjk-ideographic;
    }
  
    &.cherry-list__circle {
      list-style: circle;
    }
  
    &.cherry-list__square {
      list-style: square;
    }

    &.cherry-list__default {

    }

    /** checklist 模式，未勾选时 */
    .ch-icon-square {

    }
    /** checklist 模式，勾选时 */
    .ch-icon-check {

    }
  }
  
  ol {
    li {
      
    }
  }


  blockquote {
  
  }
  
  a {
    
  }
  
  strong {
    
  }
  
  em {
    
  }
  
  del {
    
  }

  sup {

  }

  sub {

  }
  
  hr {
    
  }
  
  img {
    
  }

  video {

  }

  audio {

  }
  
  /** 行内代码 */
  p code, li code {
    
  }
  
  /** 
  * 代码块
  */
  pre code {
    
  }
  
  /** 
  * 表格
  */
  table {
    tr {
  
    }
    th {
  
    }
    td {
  
    }
  }

  /** 可以理解为上下结构的音标，下部是文字，上部是对应的拼音 */
  ruby {
    /** 上部的拼音 */
    rt {

    }
  }
  
  /** 脚注 */
  .footnote {
    .footnote-title {
  
    }
    .one-footnote {
      a.footnote-ref {
  
      }
    }
  }
  
  /** 行间公式 */
  .Cherry-InlineMath {
    
  }
  
  /** 段落公式 */
  .Cherry-Math {
  
  }

    /** 目录 */
  .toc {
    .toc-title {

    }
    .toc-li {
      .level-1 {

      }
      .level-2 {

      }
      .level-3 {

      }
    }
  }
}