@import '../variable.scss';

/** 色值可以参考：https://yeun.github.io/open-color/ */

/** 工具栏样式 */
$toolbarBg: rgb(249, 249, 250);
$toolbarBtnColor: rgb(33, 37, 41);
$toolbarBtnBgHover: rgb(236, 237, 238);
$toolbarBtnHoverColor: rgb(13, 84, 156);
$toolbarColorItemHoverBorderColor: rgb(247, 133, 83);
$sidebarShadow: rgba(0, 0, 0, 0.1);
$toolbarBdColor: rgb(218, 218, 218);
/** 编辑区域样式 */
$editorBg: rgb(253, 253, 253);
$editorColor: rgb(28, 31, 34);
$editorSelectedBg: rgb(222, 226, 230);
$editorUrlBg: rgb(220, 228, 240);
$editorCursorColor: rgb(0, 0, 0);
$editorCodeColor: rgb(0, 86, 179);
/** 预览区域样式 */
$previewBg: rgb(253, 253, 253);
$previewMobileBgColor: rgb(248, 249, 250);
$previewSplitLineColor: rgb(225, 227, 230);
/** markdown样式 */
$mdColor: rgb(35, 36, 37);
$mdHeaderColor: rgb(0, 123, 255);
$mdLineColor: rgb(52, 58, 64);
$mdAColor: rgb(0, 86, 179);
$mdAHoverColor: rgb(0, 123, 255);
$mdInlineCodeColor: rgb(51, 53, 54);
$mdInlineCodeBg: rgb(236, 236, 236);
$mdBlockquoteBg: rgb(230, 230, 230);
/** 编辑器样式 */
.cherry.theme__light {
  /** 顶部按钮, 选中文字时弹出的按钮, 光标focus到空行时联想出的按钮, 侧边栏按钮 */
  .cherry-toolbar {
    border-bottom: 1px solid $toolbarBdColor;
  }

  .cherry-toolbar,
  .cherry-floatmenu,
  .cherry-bubble,
  .cherry-sidebar {
    background: $toolbarBg;
    border-color: $toolbarBdColor;
    .cherry-toolbar-button {
      color: $toolbarBtnColor;
      &:hover {
        background-color: $toolbarBtnBgHover;
        color: $toolbarBtnHoverColor !important;
        border-color: $toolbarBg;
        i {
          color: $toolbarBtnHoverColor !important;
        }
      }
    }
  }

  /** 二级菜单 */
  .cherry-dropdown {
    background: $toolbarBg;
    border: 1px solid $toolbarBdColor;
    .cherry-dropdown-item {
      color: $toolbarBtnColor;
      &:hover {
        background-color: $toolbarBtnBgHover;
        color: $toolbarBtnHoverColor;
      }
    }
    /** 选择颜色的按钮 */
    &.cherry-color-wrap {
      /** 色盘的标题 */
      h3 {
        color: $toolbarBtnColor;
      }
      /** 色盘里的每一个色块 */
      .cherry-color-item {
        border-color: $toolbarBtnBgHover;
        &:hover {
          border-color: $toolbarColorItemHoverBorderColor;
        }
      }
    }
  }

  /** 选中文字时弹出的按钮 */
  .cherry-bubble {
    .cherry-bubble-bottom {
      border-top-color: $toolbarBg;
    }
  }

  .cherry-editor {
    background-color: $editorBg;
    .CodeMirror {
      background-color: $editorBg;
      .CodeMirror-cursor {
        border-left: 1px solid $editorCursorColor;
      }
      .CodeMirror-scroll {
        span,
        .cm-variable-2,
        .cm-string,
        .cm-strong,
        .cm-em,
        .cm-meta {
          color: $editorColor;
        }
        .cm-url {
          background-color: initial;
          color: $editorCodeColor;
        }
      }
      .CodeMirror-selected {
        background-color: $editorSelectedBg;
      }
    }
  }

  .cherry-sidebar {
    box-shadow: $sidebarShadow;
    border-left: 1px solid $toolbarBdColor;
  }

  .cherry-previewer {
    background-color: $previewBg;
    border-left-color: $previewSplitLineColor;
    .cherry-mobile-previewer-content {
      background-color: $previewMobileBgColor;
    }
  }

  .cherry-previewer-table-content-handler {
    .cherry-previewer-table-content-handler__input {
      textarea {
        background-color: $editorBg;
        color: $editorColor;
        outline-color: $editorImportantColor;
      }
    }
  }
}

/** 预览区域样式 */
.cherry-markdown.theme__light {
  color: $mdColor;
  background-color: $previewBg;

  ul {
    &.cherry-list__upper-roman {
      list-style: upper-roman;
    }
    &.cherry-list__lower-greek {
      list-style: lower-greek;
    }
    &.cherry-list__cjk-ideographic {
      list-style: cjk-ideographic;
    }
    &.cherry-list__circle {
      list-style: circle;
    }
    &.cherry-list__square {
      list-style: square;
    }
  }

  blockquote {
    background-color: rgb(233, 233, 233);
    border-width: 5px;
    border-radius: 5px;
    border-color: rgb(173, 173, 173);
    color: rgba($mdColor, 0.8);
  }

  a {
    text-decoration: none;
    color: $mdAColor;
    &:hover {
      text-decoration: underline;
      color: $mdAHoverColor;
    }
  }

  p code,
  li code {
    background-color: $mdInlineCodeBg;
    color: $mdInlineCodeColor;
    border: 1px solid $mdLineColor;
    padding: 1px 5px;
    font-size: 0.8em;
  }

  table,
  .cherry-table {
    color: $mdColor;
    th {
      background-color: $mdInlineCodeBg;
    }
    tr,
    th,
    td {
      border-color: $mdLineColor;
    }
  }

  .footnote {
    border-color: $mdLineColor;
    .footnote-title {
      background-color: $mdInlineCodeBg;
    }
    .one-footnote {
      color: $mdColor;
      border-color: $mdLineColor;
      a.footnote-ref {
        padding: 5px;
      }
    }
  }
}
