.cherry {
  --shortcut-key-config-panel-bg: var(--dropdown-bg);
  --shortcut-key-config-panel-text-color: var(--dropdown-item-color);

  --shortcut-panel-padding-x: 15px;
  --shortcut-panel-padding-y: 10px;
  --shortcut-panel-font-size-xs: var(--font-size-xs);
  --shortcut-panel-border-radius: 4px;
  --shortcut-panel-transition: all 0.2s;
}
