.cherry {
  --md-table-border: var(--base-border-color);
  --md-table-operator-color: var(--primary-color);
  --md-table-drag-border-bg: var(--primary-color);
  --md-table-sort-active-bg: var(--secondary-color);
}
