.ch-icon {
  display: block;
  width: 18px;
  min-width: 18px;
  height: 18px;
  min-height: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ch-icon-alerts {}
.ch-icon-audio {}
.ch-icon-bold {}
.ch-icon-box {}
.ch-icon-break {}
.ch-icon-capitalize {}
.ch-icon-cellLeft {}
.ch-icon-cellRight {}
.ch-icon-center {}
.ch-icon-check {}
.ch-icon-class {}
.ch-icon-close {}
.ch-icon-code {}
.ch-icon-copy {}
.ch-icon-create {}
.ch-icon-details {}
.ch-icon-diagram {}
.ch-icon-drawio {}
.ch-icon-edit {}
.ch-icon-error {}
.ch-icon-export {}
.ch-icon-exportHtml {}
.ch-icon-exportPdf {}
.ch-icon-exportPng {}
.ch-icon-flow {}
.ch-icon-folder {}
.ch-icon-folderOpen {}
.ch-icon-font {}
.ch-icon-formula {}
.ch-icon-gant {}
.ch-icon-heading {}
.ch-icon-heading1 {}
.ch-icon-heading2 {}
.ch-icon-heading3 {}
.ch-icon-heading4 {}
.ch-icon-heading5 {}
.ch-icon-help {}
.ch-icon-image {}
.ch-icon-info {}
.ch-icon-invisible {}
.ch-icon-italic {}
.ch-icon-justify {}
.ch-icon-large {}
.ch-icon-left {}
.ch-icon-line {}
.ch-icon-link {}
.ch-icon-listCheck {}
.ch-icon-listDot {}
.ch-icon-listKey {}
.ch-icon-listNum {}
.ch-icon-loop {}
.ch-icon-lowercase {}
.ch-icon-maximize {}
.ch-icon-medium {}
.ch-icon-minimize {}
.ch-icon-newLine {}
.ch-icon-overline {}
.ch-icon-pdf {}
.ch-icon-pie {}
.ch-icon-quote {}
.ch-icon-redo {}
.ch-icon-right {}
.ch-icon-rowBottom {}
.ch-icon-rowRemove {}
.ch-icon-rowTop {}
.ch-icon-search {}
.ch-icon-settings {}
.ch-icon-small {}
.ch-icon-sort {}
.ch-icon-state {}
.ch-icon-strike {}
.ch-icon-style {}
.ch-icon-sub {}
.ch-icon-success {}
.ch-icon-sup {}
.ch-icon-table {}
.ch-icon-theme {}
.ch-icon-tips {}
.ch-icon-toc {}
.ch-icon-trash {}
.ch-icon-underline {}
.ch-icon-undo {}
.ch-icon-uppercase {}
.ch-icon-video {}
.ch-icon-visible {}
.ch-icon-warning {}
.ch-icon-word {}
.ch-icon-xsmall {}
