/*
 * 清幽主题
 */

.cherry.theme__blue {
  /* 基础色彩 */
  --primary-color: var(--oc-indigo-6);
  --secondary-color: var(--oc-violet-6);
  --base-font-color: var(--oc-indigo-8);
  --base-editor-bg: var(--oc-violet-0);
  --base-preview-bg: var(--oc-violet-0);
  --base-border-color: var(--oc-indigo-4);

  /* 工具栏相关变量 */
  --toolbar-bg-light: var(--oc-violet-1);
  --toolbar-bg-dark: var(--oc-violet-1);
  --toolbar-btn-color-light: var(--oc-indigo-7);
  --toolbar-btn-color-dark: var(--oc-indigo-7);
  --toolbar-btn-bg-dark: transparent;
  --toolbar-btn-hover-bg-light: var(--oc-violet-3);
  --toolbar-btn-hover-bg-dark: var(--oc-violet-3);
  --toolbar-btn-hover-color-light: var(--oc-white);
  --toolbar-btn-hover-color-dark: var(--oc-white);
  --toolbar-split-color: var(--oc-indigo-4);

  /* 编辑器相关变量 */
  --editor-header-color: var(--oc-indigo-6);
  --editor-string-color: var(--oc-indigo-5);
  --editor-comment-color: var(--oc-indigo-5);
  --editor-quote-color: var(--oc-indigo-8);
  --editor-link-color: var(--oc-indigo-5);
  --editor-url-bg-color: var(--oc-violet-1);
  --editor-v2-color: var(--oc-indigo-8);
  --editor-v3-color: var(--oc-indigo-6);
  --editor-keyword-color: var(--oc-indigo-5);
  --editor-cursor-color: var(--oc-indigo-8);
  --editor-selected-bg: var(--oc-violet-2);
  --color-full-width: var(--oc-indigo-5);

  /* Markdown 相关变量 */
  --md-color: var(--oc-indigo-8);
  --md-header-color: var(--oc-indigo-6);
  --md-line-color: var(--oc-indigo-4);
  --md-a-color: var(--oc-indigo-5);
  --md-a-hover-color: var(--oc-indigo-6);
  --md-inline-code-color: var(--oc-indigo-5);
  --md-inline-code-bg: var(--oc-violet-1);
  --md-blockquote-bg: var(--oc-violet-1);

  /* 自定义阴影 */
  --sidebar-shadow: 0 0 12px var(--oc-indigo-2);

  /* 颜色选择器 */
  .cherry-color-wrap .cherry-color-item:hover {
    border-color: var(--oc-indigo-9);
  }

  /* 编辑器选中背景色 */
  .cherry-editor .CodeMirror .CodeMirror-selected {
    background-color: var(--editor-selected-bg);
  }
}

/** 预览区域样式 */
.cherry-markdown.theme__blue {
  color: var(--md-color);
  background-color: var(--base-preview-bg);

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: var(--md-header-color);
    text-align: center;
    border-bottom: 1px dashed var(--md-line-color);
    padding-bottom: 15px;
    margin-bottom: 25px;
  }

  blockquote {
    color: var(--md-color);
    background-color: var(--md-blockquote-bg);
    border-color: var(--md-line-color);
  }

  a {
    text-decoration: none;
    color: var(--md-a-color);

    &:hover {
      text-decoration: underline;
      color: var(--md-a-hover-color);
    }
  }

  hr {
    border-color: var(--md-line-color);
  }

  /** 行内代码 */
  code:not([class]) {
    background-color: var(--md-inline-code-bg);
    color: var(--md-inline-code-color);
    border: 1px solid var(--md-line-color);
  }

  /** 表格 */
  table,
  .cherry-table {
    color: var(--md-color);

    th {
      background-color: var(--md-inline-code-bg);
    }

    tr,
    th,
    td {
      border-color: var(--md-line-color);
    }
  }

  /** 脚注 */
  .footnote {
    border-color: var(--md-line-color);

    .footnote-title {
      background-color: var(--md-inline-code-bg);
    }

    .one-footnote {
      color: var(--md-color);
      border-color: var(--md-line-color);

      a.footnote-ref {
        padding: 5px;
      }
    }
  }

  /** 目录 */
  .toc {
    border-bottom: 1px solid var(--md-line-color);
    padding-bottom: 15px;
    margin-bottom: 30px;

    .toc-title {
      text-align: center;
      padding-bottom: 15px;
      margin-top: 30px;
      margin-bottom: 15px;
      border-bottom: 1px solid var(--md-line-color);
    }

    .toc-li {
      border: none;

      a {
        color: var(--md-color);

        &:hover {
          color: var(--md-a-hover-color);
        }
      }
    }
  }
}
