/*
 * 清新主题
 */

.cherry.theme__green {
  /* ========== 基础色彩变量覆盖 ========== */
  --primary-color: var(--oc-green-9);
  --secondary-color: var(--oc-green-0);

  --base-font-color: var(--primary-color);
  --base-editor-bg: var(--oc-white);
  --base-previewer-bg: var(--secondary-color);
  --base-border-color: var(--oc-green-8);

  /* ========== 工具栏相关变量 ========== */
  --toolbar-bg: var(--oc-white);
  --toolbar-btn-color: var(--primary-color);
  --toolbar-btn-hover-bg: var(--oc-green-5);
  --toolbar-btn-hover-color: var(--secondary-color);
  --toolbar-split-color: var(--oc-green-8);

  /* ========== 编辑器相关变量 ========== */
  --editor-header-color: var(--oc-green-7);
  --editor-string-color: var(--oc-green-6);
  --editor-comment-color: var(--oc-green-6);
  --editor-quote-color: var(--primary-color);
  --editor-link-color: var(--oc-green-6);
  --editor-url-bg-color: var(--secondary-color);
  --editor-v2-color: var(--primary-color);
  --editor-v3-color: var(--oc-green-7);
  --editor-keyword-color: var(--oc-green-6);
  --editor-selection-bg: var(--oc-green-2);

  /* ========== 预览器相关变量 ========== */
  --previewer-mobile-bg: var(--oc-white);

  /* ========== Markdown 相关变量 ========== */
  --md-heading-color: var(--oc-green-7);
  --md-paragraph-color: var(--primary-color);
  --md-link-color: var(--oc-green-6);
  --md-link-hover-color: var(--oc-green-7);
  --md-inline-code-color: var(--oc-green-6);
  --md-inline-code-bg: var(--oc-green-1);
  --md-blockquote-bg: var(--oc-green-1);
  --md-hr-border: var(--oc-green-8);
  --md-table-border: var(--oc-green-8);
  /* ========== 信息面板 相关变量 ========== */
  --panel-primary-bg: #e9f7fc;
  --panel-primary-color: #3a96b7;
  --panel-primary-border-left: #96bfc1;
  --panel-info-bg: #EEEEFF;
  --panel-info-color: #593ab7;
  --panel-info-border-left: #9a9bc3;
  --panel-warning-bg: #FFF7E6;
  --panel-warning-color: #816306;
  --panel-warning-border-left: #D4D1A6;
  --panel-danger-bg: #FFF3F4;
  --panel-danger-color: #b02a37;
  --panel-danger-border-left: #D3ADAC;
  --panel-success-bg: #e9fdf5;
  --panel-success-color: #146c43;
  --panel-success-border-left: #9fdac2;
}

/** 预览区域样式 */
.cherry-markdown.theme__green {
  h1,
  h2,
  h3,
  h4,
  h5 {
    text-align: center;
    margin-bottom: 35px;
  }

  /** 目录 */
  .toc {
    border-bottom: 1px solid var(--md-hr-border);
    padding-bottom: 15px;
    margin-bottom: 30px;

    .toc-title {
      text-align: center;
      padding-bottom: 15px;
      margin-top: 30px;
      margin-bottom: 15px;
      border-bottom: 1px solid var(--md-hr-border);
    }
  }
}
