/*
 * 热情主题
 */

.cherry.theme__red {
  /* 基础色彩 */
  --primary-color: var(--oc-pink-7);
  --base-font-color: var(--oc-pink-9);
  --base-editor-bg: var(--oc-pink-0);
  --base-preview-bg: var(--oc-pink-0);
  --base-border-color: var(--oc-pink-8);

  /* 工具栏相关变量 */
  --toolbar-bg-light: var(--oc-pink-1);
  --toolbar-bg-dark: var(--oc-pink-1);
  --toolbar-btn-color-light: var(--oc-pink-8);
  --toolbar-btn-color-dark: var(--oc-pink-8);
  --toolbar-btn-bg-dark: transparent;
  --toolbar-btn-hover-bg-light: var(--oc-pink-5);
  --toolbar-btn-hover-bg-dark: var(--oc-pink-5);
  --toolbar-btn-hover-color-light: var(--oc-pink-0);
  --toolbar-btn-hover-color-dark: var(--oc-pink-0);
  --toolbar-split-color: var(--oc-pink-8);

  /* 编辑器相关变量 */
  --editor-header-color: var(--oc-pink-7);
  --editor-string-color: var(--oc-pink-5);
  --editor-comment-color: var(--oc-pink-5);
  --editor-quote-color: var(--oc-pink-9);
  --editor-link-color: var(--oc-pink-5);
  --editor-url-bg-color: var(--oc-pink-1);
  --editor-v2-color: var(--oc-pink-9);
  --editor-v3-color: var(--oc-pink-7);
  --editor-keyword-color: var(--oc-pink-5);
  --editor-selection-bg: var(--oc-pink-2);
  --color-full-width: var(--oc-pink-5);

  /* 侧边栏阴影 */
  --sidebar-shadow: 0 0 10px var(--oc-pink-2);
}

/** 预览区域样式 */
.cherry-markdown.theme__red {
  color: var(--base-font-color);
  background-color: var(--base-preview-bg);

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: var(--editor-header-color);
    text-align: center;
    border-bottom: 1px dashed var(--base-border-color);
    padding-bottom: 15px;
    margin-bottom: 25px;
  }

  blockquote {
    color: var(--base-font-color);
    background-color: var(--oc-pink-1);
    border-color: var(--base-border-color);
  }

  a {
    text-decoration: none;
    color: var(--oc-pink-5);

    &:hover {
      text-decoration: underline;
      color: var(--oc-pink-7);
    }
  }

  /** 表格 */
  table,
  .cherry-table {
    color: var(--base-font-color);

    th {
      background-color: var(--oc-pink-1);
    }

    tr,
    th,
    td {
      border-color: var(--base-border-color);
    }
  }

  /** 目录 */
  .toc {
    border-bottom: 1px solid var(--base-border-color);
    padding-bottom: 15px;
    margin-bottom: 30px;

    .toc-title {
      text-align: center;
      padding-bottom: 15px;
      margin-top: 30px;
      margin-bottom: 15px;
      border-bottom: 1px solid var(--base-border-color);
    }

    .toc-li {
      border: none;

      a {
        color: var(--base-font-color);

        &:hover {
          color: var(--oc-pink-7);
        }
      }
    }
  }
}
