/*
 * 淡雅主题
 */

.cherry.theme__violet {
  /* ========== 基础色彩变量覆盖 ========== */
  --primary-color: var(--oc-violet-9);
  --secondary-color: var(--oc-violet-0);

  --base-font-color: var(--primary-color);
  --base-editor-bg: var(--oc-white);
  --base-previewer-bg: var(--oc-white);
  --base-border-color: var(--oc-violet-8);

  /* ========== 工具栏相关变量 ========== */
  --toolbar-bg: var(--oc-white);
  --toolbar-btn-color: var(--primary-color);
  --toolbar-btn-hover-bg: var(--oc-violet-5);
  --toolbar-btn-hover-color: var(--oc-violet-0);
  --toolbar-btn-active-bg: var(--oc-violet-7);
  --toolbar-split-color: var(--oc-violet-8);

  /* ========== 编辑器相关变量 ========== */
  --editor-header-color: var(--oc-violet-7);
  --editor-string-color: var(--oc-violet-6);
  --editor-comment-color: var(--oc-violet-6);
  --editor-quote-color: var(--primary-color);
  --editor-link-color: var(--oc-violet-6);
  --editor-url-bg-color: var(--oc-violet-0);
  --editor-v2-color: var(--primary-color);
  --editor-v3-color: var(--oc-violet-7);
  --editor-keyword-color: var(--oc-violet-6);
  --editor-selection-bg: var(--oc-violet-2);

  /* ========== Markdown 相关变量 ========== */
  --md-heading-color: var(--oc-violet-7);
  --md-paragraph-color: var(--primary-color);
  --md-link-color: var(--oc-violet-6);
  --md-link-hover-color: var(--oc-violet-7);
  --md-inline-code-color: var(--oc-violet-6);
  --md-inline-code-bg: var(--oc-violet-1);
  --md-blockquote-bg: var(--oc-violet-1);
  --md-hr-border: var(--oc-violet-8);
  /* ========== table 相关变量 ========== */
  --md-table-border: var(--oc-violet-8);
  --md-table-drag-bar-border-bg: var(--primary-color);
  --md-table-sort-active-bg: var(--oc-violet-2);

  /* ========== Panel 相关变量 ========== */
  --panel-border-radius: 4px;
  --panel-bg: var(--oc-white);
  --panel-border: 1px solid var(--oc-gray-2);
  --panel-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  --panel-title-bg: var(--oc-gray-1);
  --panel-title-color: var(--oc-gray-8);
  --panel-title-border-radius: 2px 2px 0 0;
  --panel-title-border-bottom: 1px solid var(--oc-gray-3);
  --panel-body-bg: var(--oc-white);
  --panel-body-color: var(--oc-gray-8);
  --panel-body-border-radius: 0 0 2px 2px;

  /* Primary Panel */
  --panel-primary-border-color: var(--oc-blue-5);
  --panel-primary-title-bg: var(--oc-blue-1);
  --panel-primary-title-color: var(--oc-blue-8);
  --panel-primary-title-border-bottom: 1px solid var(--oc-blue-3);
  --panel-primary-body-bg: var(--oc-blue-0);
  --panel-primary-body-color: var(--oc-blue-9);

  /* Info Panel */
  --panel-info-border-color: var(--oc-cyan-5);
  --panel-info-title-bg: var(--oc-cyan-1);
  --panel-info-title-color: var(--oc-cyan-8);
  --panel-info-title-border-bottom: 1px solid var(--oc-cyan-3);
  --panel-info-body-bg: var(--oc-cyan-0);
  --panel-info-body-color: var(--oc-cyan-9);

  /* Warning Panel */
  --panel-warning-border-color: var(--oc-yellow-5);
  --panel-warning-title-bg: var(--oc-yellow-1);
  --panel-warning-title-color: var(--oc-yellow-8);
  --panel-warning-title-border-bottom: 1px solid var(--oc-yellow-3);
  --panel-warning-body-bg: var(--oc-yellow-0);
  --panel-warning-body-color: var(--oc-yellow-9);

  /* Danger Panel */
  --panel-danger-border-color: var(--oc-red-5);
  --panel-danger-title-bg: var(--oc-red-1);
  --panel-danger-title-color: var(--oc-red-8);
  --panel-danger-title-border-bottom: 1px solid var(--oc-red-3);
  --panel-danger-body-bg: var(--oc-red-0);
  --panel-danger-body-color: var(--oc-red-9);

  /* Success Panel */
  --panel-success-border-color: var(--oc-green-5);
  --panel-success-title-bg: var(--oc-green-1);
  --panel-success-title-color: var(--oc-green-8);
  --panel-success-title-border-bottom: 1px solid var(--oc-green-3);
  --panel-success-body-bg: var(--oc-green-0);
  --panel-success-body-color: var(--oc-green-9);
  --md-toc-bg: var(--oc-violet-0);
  --md-toc-indicator-color: var(--oc-violet-1);
  --md-toc-link-hover-bg: var(--oc-violet-1);
  --md-toc-link-active-bg: var(--oc-violet-2);
  
  /* ========== 手风琴组件变量覆盖 ========== */
  --accordion-bg: var(--oc-violet-0);
  --accordion-border: var(--oc-violet-2);
  --accordion-shadow: var(--shadow-sm);

  
  --accordion-summary-bg: var(--oc-violet-6);
  --accordion-summary-hover-bg: var(--oc-violet-5);
  
  --accordion-body-bg: var(--oc-violet-0);
  --accordion-body-border: var(--oc-violet-1);
  --accordion-body-color: var(--primary-color);
}

/** 预览区域样式 */
.cherry-markdown.theme__violet {
  h1,
  h2,
  h3,
  h4,
  h5 {
    text-align: center;
    margin-bottom: 35px;
  }
}
