.cherry-bubble {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;

  font-size: var(--font-size-sm);

  // min-height for overflow wrap
  min-height: var(--bubble-min-height);
  min-width: 50px;

  border: var(--border-width-1) solid var(--bubble-border);
  background-color: var(--bubble-bg);
  box-shadow: var(--bubble-shadow);
  border-radius: var(--bubble-radius);
  z-index: var(--bubble-z-index);
  padding: var(--bubble-padding);

  &.cherry-bubble--centered {
    left: 50%;
    transform: translateX(-50%);
  }

  // triangle
  .cherry-bubble-top,
  .cherry-bubble-bottom {
    position: absolute;
    left: 50%;

    width: 0;
    height: 0;

    margin-left: calc(-1 * var(--spacing-sm));
    border-left: var(--spacing-sm) solid rgba(0, 0, 0, 0);
    border-right: var(--spacing-sm) solid rgba(0, 0, 0, 0);
  }

  .cherry-bubble-top {
    top: 0;
    transform: translateY(-100%);
    border-bottom: var(--spacing-sm) solid var(--bubble-bg);
  }

  .cherry-bubble-bottom {
    bottom: 0;
    transform: translateY(100%);
    border-top: var(--spacing-sm) solid var(--bubble-bg);
  }

  .cherry-toolbar-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    // FIXME: remove fixed height
    height: var(--bubble-min-height);
    color: var(--toolbar-btn-color);
    background: var(--toolbar-btn-bg);

    // line-height: (var(--bubble-min-height) - 2px); // border 2px
    cursor: pointer;
    user-select: none;

    &:hover {
      border-color: var(--toolbar-border);
      background-color: var(--toolbar-btn-hover-bg);
      color: var(--toolbar-btn-hover-color);
    }

    &.cherry-toolbar-split {
      height: 65%;
      min-height: calc(0.65 * var(--bubble-min-height));
    }
  }
}

.cherry-switch-paste {
  display: flex;
  align-items: center;
  justify-content: center;

  .cherry-toolbar-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    color: var(--toolbar-btn-color);
    background: var(--toolbar-btn-bg);
    border-radius: var(--dropdown-radius);
    border: none;
    transition: background 0.2s, color 0.2s;

    &:hover {
      background-color: var(--dropdown-item-hover-bg);
      color: var(--dropdown-item-hover-color);
    }

    &.active {
      background-color: var(--dropdown-item-active-bg);
      color: var(--dropdown-item-active-color);
    }
  }
}
