.cherry-insert-formula-wrappler {
  width: 610px !important; // 覆盖默认.cherry-dropdown样式
  height: 300px !important;
  padding: 15px;
  display: flex;
  position: fixed !important;
  z-index: 9999999;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #FFF !important;
  overflow: hidden;

  .cherry-insert-formula-more {
    position: absolute;
    bottom: 0;
    font-size: 12px;
  }

  .cherry-insert-formula-tabs {
    width: 100px;
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: 10px;
    .cherry-insert-formula-tab {
      width: 100%;
      height: 30px;
      text-align: center;
      border: 1px solid #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      & > a {
        display: block;
        text-decoration: none;
        user-select: none;
        user-select: none;
      }
      &:not(:first-child) {
        margin-top: 10px;
      }
    }

    .cherry-insert-formula-tab.active {
      color: black;
      border: 1px solid #000;
      border-radius: 5px;
    }
  }

  .cherry-insert-formula-select {
    height: 100%;
    flex: 1;
    display: none;
    overflow-y: scroll;

    .cherry-insert-formula-categary {
      width: 130px;
      &:not(:first-child) {
        margin-top: 10px;
      }

      .cherry-insert-formula-categary__func {
        min-width: 200px;
        height: 260px;
        position: absolute;
        left: 255px;
        top: 0;
        z-index: 100;
        padding: 20px 10px;
        background-color: #fff;
        border-left: 1px solid rgba(0, 0, 0, 0.15);
        display: none;
        overflow-y: scroll;

        .cherry-insert-formula-categary__func-categary {
          border-top: 1px solid rgb(233, 236, 239);
          border-bottom: 1px solid rgb(233, 236, 239);
          margin-bottom: 10px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .cherry-insert-formula-categary__func-item {
          cursor: pointer;
          border: 1px solid #fff;
          display: inline-block;
          text-align: center;
          background-color: #f8f9fa;
          margin: 2px;
          padding: 2px;
          vertical-align: middle;
          line-height: 30px;
          border-color: #f8f9fa;
          border-radius: 5px;

          &:hover {
            border-color: #dae0e5;
            background-color: #e2e6ea;
          }
          svg, img {
            pointer-events: none;
          }
        }

        &:hover {
          display: block;
        }
      }

      .cherry-insert-formula-categary__btn {
        cursor: pointer;
        display: inline-block;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        user-select: none;
        background-color: transparent;
        border: 1px solid transparent;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0.25rem;
        width: 100%;

        & > img {
          width: 100%;
          height: 60%;
        }

        &:hover {
          color: #3582fb;
        }

        &:hover + .cherry-insert-formula-categary__func {
          float: left;
          display: block;
        }
      }

      .btn-light {
        color: #212529;
        background-color: #ebecf2;
        border-color: #f8f9fa;
      }
    }
  }

  .cherry-insert-formula-select.active {
    display: block;
  }
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
