.prettyprint {
  min-width: 500px;
  display: inline-block;
  background: var(--md-code-block-bg);
  font-family: var(--font-family-mono);
  border: 0 !important;
}

.pln {
  color: var(--md-code-block-color);
}

.str {
  color: var(--color-warning);
}

.kwd {
  color: var(--color-error);
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--oc-gray-5);
}

li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  padding-left: 1em;
  background-color: var(--md-code-block-bg);
  list-style-type: decimal;
}

@media screen {
  .cherry-markdown {

    /* comment */

    .com {
      color: var(--syntax-comment-color);
    }

    /* type name */

    .typ {
      color: var(--syntax-type-color);
    }

    /* literal value */

    .lit {
      color: var(--syntax-literal-color);
    }

    /* punctuation */

    .pun {
      color: var(--syntax-punctuation-color);
    }

    /* lisp open bracket */

    .opn {
      color: var(--syntax-punctuation-color);
    }

    /* lisp close bracket */

    .clo {
      color: var(--syntax-punctuation-color);
    }

    /* markup tag name */

    .tag {
      color: var(--syntax-tag-color);
    }

    /* markup attribute name */

    .atn {
      color: var(--syntax-attribute-name-color);
    }

    /* markup attribute value */

    .atv {
      color: var(--syntax-attribute-value-color);
    }

    /* declaration */

    .dec {
      color: var(--syntax-declaration-color);
    }

    /* variable name */

    .var {
      color: var(--syntax-variable-color);
    }

    /* function name */

    .fun {
      color: var(--syntax-function-color);
    }
  }
}
