name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  deploy-github-pages:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          registry-url: https://registry.npmjs.org/
          cache: yarn

      - name: Install dependencies
        run: yarn install

      - name: Build project
        run: yarn build

      - name: Prepare publish directory
        run: |
          mkdir -p gh-pages-out

          cp -v --parents -r packages/cherry-markdown/dist gh-pages-out/
          cp -v --parents examples/*.html gh-pages-out/
          cp -v --parents -r examples/assets gh-pages-out/

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./gh-pages-out
          publish_branch: gh-pages
