name: Compressed Size

on: 
  pull_request:
    types: [opened, synchronize]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: preactjs/compressed-size-action@v2
        with:
          pattern: './packages/cherry-markdown/dist/**/*.{js,css}'
