name: 'Build VscodePlugin Release'

on:
  workflow_call:

jobs:
  release-vscode-plugin-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: 'yarn'

      - name: Change Package Files
        run: |

          jq '."scripts"."build" = "yarn workspace cherry-markdown-core build"' package.json > temp.json && mv temp.json package.json
          jq '."scripts"."build:vscodePlugin" = "yarn workspace cherry-markdown build"' package.json > temp.json && mv temp.json package.json

          cd packages/cherry-markdown
          jq '.name = "cherry-markdown-core"' package.json > temp.json && mv temp.json package.json

          cd ../vscodePlugin
          jq '.dependencies["cherry-markdown"] = .dependencies["cherry-markdown-core"] | del(.dependencies["cherry-markdown"])' package.json > temp.json && mv temp.json package.json
          jq '.name = "cherry-markdown"' package.json > temp.json && mv temp.json package.json

      - name: Install and Build Dependencies
        run: |
          yarn global add vsce
          yarn --network-timeout 100000
          yarn build
          yarn build:vscodePlugin

      - name: Publish VSCode Plugin
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}
        run: |
          cd packages/vscodePlugin
          vsce publish -p $VSCE_PAT --no-dependencies --no-yarn
